/* Preload all groundtiles that could appear later */
.frame::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('../images/box_water.png') url('../images/bottle_water.png')
    url('../images/bottle_water.png') url('../images/sand_hole_bean.png')
    url('../images/spring.png') url('../images/1xbean.png');
}
.frame {
  background-size: 100%;
  background-repeat: 'no-repeat';
  background-image: url('../images/pushy_island_all_water.png');
}
.frame-menu {
  background-size: 100%;
  background-repeat: 'no-repeat';
  background-image: url('../images/pushy_island.jpg');
}
.frame-congrats {
  background-size: 100%;
  background-repeat: 'no-repeat';
  background-image: url('../images/pushy_island_win.jpg');
}
.world {
  opacity: 0;
  background-size: 100%;
  background-repeat: 'no-repeat';
}
.groundtile {
  display: inline-flex;
  background-size: 100%;
  background-repeat: 'no-repeat';
  color: transparent;
  z-index: 1;
}
.water {
  background-image: url('../images/water.png');
}

.sand {
  background-image: url('../images/sand.png');
}
.sand-lo {
  background-image: url('../images/sand_lo.png');
}
.sand-lu {
  background-image: url('../images/sand_lu.png');
}
.sand-ru {
  background-image: url('../images/sand_ru.png');
}
.sand-ro {
  background-image: url('../images/sand_ro.png');
}
.grass {
  background-image: url('../images/grass.png');
}
.grass-lo {
  background-image: url('../images/grass_lo.png');
}
.grass-lu {
  background-image: url('../images/grass_lu.png');
}
.grass-ro {
  background-image: url('../images/grass_ro.png');
}
.grass-ru {
  background-image: url('../images/grass_ru.png');
}
.grass-down {
  background-image: url('../images/grass_down.png');
}
.water-hole {
  background-image: url('../images/water_hole.png');
}
.sand-hole {
  background-image: url('../images/sand_hole.png');
}
.sand-hole-bean {
  background-image: url('../images/sand_hole_bean.png');
}
.spring {
  background-image: url('../images/spring.png');
}
.cross-red {
  background-image: url('../images/cross_red.png');
}
.cross-blue {
  background-image: url('../images/cross_blue.png');
}
.cross-green {
  background-image: url('../images/cross_green.png');
}
.bomb-trigger {
  background-image: url('../images/bomb_trigger.png');
}

.objectstile {
  display: inline-flex;
  background-size: 100%;
  background-repeat: 'no-repeat';
  color: transparent;
  z-index: 2;
}
.house {
  background-image: url('../images/house.png');
}
.box {
  background-image: url('../images/box.png');
}
.box-water {
  background-image: url('../images/box_water.png');
}
.stone {
  background-image: url('../images/stone.png');
}
.palm-left {
  background-image: url('../images/palm_left.png');
}
.palm-right {
  background-image: url('../images/palm_right.png');
}
.seastar {
  background-image: url('../images/seastar.png');
}
.bottle {
  background-image: url('../images/bottle.png');
}
.bottle-water {
  background-image: url('../images/bottle_water.png');
}
.bean {
  background-image: url('../images/bean.png');
}
.figure-red {
  background-image: url('../images/figure_red.png');
}
.figure-blue {
  background-image: url('../images/figure_blue.png');
}
.figure-green {
  background-image: url('../images/figure_green.png');
}
.bomb {
  background-image: url('../images/bomb.png');
}
.explosion {
  background-image: url('../images/explosion.png');
}

.reload {
  position: absolute;
  display: inline-flex;
  background-size: 100%;
  background-repeat: 'no-repeat';
  color: transparent;
  z-index: 4;
  background-image: url('../images/reset.png');
  cursor: pointer;
}
.backwards {
  position: absolute;
  display: inline-flex;
  background-size: 100%;
  background-repeat: 'no-repeat';
  color: transparent;
  z-index: 4;
  background-image: url('../images/backwards.png');
  cursor: pointer;
}
.forwards {
  position: absolute;
  display: inline-flex;
  background-size: 100%;
  background-repeat: 'no-repeat';
  color: transparent;
  z-index: 4;
  background-image: url('../images/backwards.png');
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
}
.beancount-1 {
  position: absolute;
  display: inline-flex;
  background-size: 100%;
  background-repeat: 'no-repeat';
  color: transparent;
  z-index: 4;
  background-image: url('../images/1xbean.png');
}
